html {
  font-size: 62.5%;
}
.register-background {
  background-image: linear-gradient(13deg, #421563, #c31431a8);
  height: 100vh;
  position: relative;
  .register-container {
    width: 40rem;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    font-size: 16px;
  }
  .register-name {
    display: flex;
    justify-content: center;
    .register-firstName {
      display: flex;
      flex-direction: column;
      margin: 1rem 1rem;
      width: calc(50%);
    }
    .register-lastName {
      display: flex;
      flex-direction: column;
      margin: 1rem 1rem;

      width: calc(50%);
    }
  }
  .register-email {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
  }

  .register-content {
    text-align: center;
    margin-top: 3rem;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .register-password {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    .custom-input-password {
      position: relative;
      .input-password {
        width: 100%;
      }
      i {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
    }
  }
  input {
    border: 1px solid #e6e3e3;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
  }
  input:focus {
    outline: 2px solid #c31431a8;
    box-shadow: 1px 1px 10px 2px #421563;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #421563, #c31431a8);
    color: white;
    width: 34rem;
    height: 3.5rem;
    margin: 3rem auto 15px;
    outline: none;
    border: none;
    border-radius: 10px;
  }
  .register-forgot {
    margin-left: 1rem;
    text-decoration: none;
    margin-bottom: 1rem;
  }
  .text-center {
    display: block;
    margin-top: 1rem;
    margin-bottom: 5px;
    span {
      font-size: 17px;
    }
  }
  .register-social {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    .facebook {
      font-size: 20px;
      background: blue;
      height: 30px;
      width: 30px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    .google {
      font-size: 20px;
      background: rgb(185, 17, 17);
      height: 30px;
      width: 30px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-left: 10px;
    }
  }
}
