html {
  font-size: 62.5%;
}

.CompanyOutStanding-container {
  margin-top: 5rem;
  .slick-prev,
  .slick-next {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;
    z-index: 10;
    background: gray !important;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  .CompanyOutStanding-content {
    height: 35rem;
    width: 60%;
    margin: 0 auto;
    h2 {
      margin-bottom: 2rem;
    }
    .CompanyOutStanding-body {
      .CompanyOutStanding-product {
        position: relative;
        height: 30rem;
        border: 1px solid #f8f5f5;
        cursor: pointer;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);

        .CompanyOutStanding-image {
          background: center center no-repeat;
          background-size: contain;
          margin: 4rem auto 2rem;
          width: 220px;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            border: none;
            outline: none;
            background: center center no-repeat;
            background-size: contain;
            width: 200px;
            height: 140px;
            object-fit: cover;
          }
        }
        .CompanyOutStanding-name {
          text-align: center;
          font-size: 17px;
          font-weight: bold;
        }
        &:hover {
          border: 2px solid gray;
          transition: 0.1s linear;
        }
      }
    }
  }
}
